.second-side{
    border-left: 1px solid whitesmoke;


}
.content{
    color: rgb(107, 107, 107);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
   
}
:root {
    --bs-dark: #212529;
  }
  .theme-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }
  
  .theme-container:hover {
    opacity: 0.8;
  }
  body {
    background-color: var(--bs-dark);
    color: white;
  }
  
  .main_container {
    border-top: 0.5px solid whitesmoke;
    display: flex;
  }
  
  .first_side {
    position: sticky;
    top: 3px;
    height: 100vh;
    padding: 6px 25px;
    width: 20%;
    background-color: var(--bs-dark);
  }
  
  .f-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cnt {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    gap: 30px;
  }
  
  .nav {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 2px;
    padding: 8px 0;
    list-style: none;
  }
  
  .nav .li {
    text-decoration: none;
    color: white;
    font-size: larger;
    font-weight: bold;
    width: 80%;
    padding: 10px;
    transition: 0.6s;
    display: flex;
  }
  
  .nav .li:hover,
  .nav .li.active {
    background-color: rgb(224, 224, 224);
    border: none;
    border-radius: 20px;
    box-shadow: 0px 5px 5px whitesmoke;
  }
  
  .tweet {
    visibility: hidden;
  }
  
  .tweet-pc {
    width: 100%;
    text-decoration: none;
    color: white;
    background-color: #1da1f2;
    padding: 10px 18px;
    border: none;
    margin-top: 7px;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
  }
  
  .tweet-pc:hover {
    opacity: 0.8;
  }
  
  .profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .profile-cnt {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  
  .text {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .p-photo {
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }
  
  .nav-icon {
    width: 40px;
    height: 20px;
  }
  
  .tw-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
    padding: 5px;
  }
  
  .username {
    font-size: medium;
    font-weight: bold;
  }
  
  .username::first-letter {
    text-transform: uppercase;
  }
  
  #logout {
    border-radius: 10px;
    position: absolute;
    bottom: 120px;
    width: 80%;
    z-index: 1;
    box-shadow: 0px 0px 10px 5px rgb(148, 144, 144);
  }
  
  .l-out {
    display: none;
    border-radius: 10px;
    position: absolute;
    bottom: 120px;
    width: 80%;
    z-index: 1;
    box-shadow: 0px 0px 10px 5px rgb(148, 144, 144);
    background-color: var(--bs-dark);
    padding: 10px;
    }
    
    .l-out.active {
    display: flex;
    flex-direction: column;
    gap: 10px;
    }
    
    .l-out a {
    color: white;
    text-decoration: none;
    font-size: medium;
    }
    
    .l-out a:hover {
    text-decoration: underline;
    }
    
    .second_side {
    width: 80%;
    padding: 20px;
    background-color: var(--bs-dark);
    }
    
    .tweets-cnt {
    display: flex;
    flex-direction: column;
    gap: 20px;
    }
    
    .tweet-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--bs-dark);
    box-shadow: 0px 2px 5px whitesmoke;
    }
    
    .tweet-card .tweet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    .tweet-card .tweet-header .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    }
    
    .tweet-card .tweet-header .user-info .user-photo {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    }
    
    .tweet-card .tweet-header .user-info .user-name {
    font-size: medium;
    font-weight: bold;
    }
    
    .tweet-card .tweet-body {
    font-size: 14px;
    }
    
    .tweet-card .tweet-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: lightgray;
    }
    
    .tweet-card .tweet-footer .interaction {
    display: flex;
    align-items: center;
    gap: 10px;
    }
    
    .tweet-card .tweet-footer .interaction span {
    font-size: 12px;
    }
    
    .tweet-card .tweet-footer .action-buttons {
    display: flex;
    gap: 10px;
    }
    
    .tweet-card .tweet-footer .action-buttons button {
    border: none;
    background-color: transparent;
    color: lightgray;
    font-size: 12px;
    cursor: pointer;
    }
    
    .tweet-card .tweet-footer .action-buttons button:hover {
    text-decoration: underline;
    }
    
    .tweet-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--bs-dark);
    box-shadow: 0px 2px 5px whitesmoke;
    }
    
    .tweet-form textarea {
    height: 100px;
    resize: none;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: var(--bs-dark);
    color: white;
    }
    
    .tweet-form button {
    align-self: flex-end;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #1da1f2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    }
    
    .tweet-form button:hover {
    opacity: 0.8;
    }