@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu:wght@400;500&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-family: "Ubuntu", sans-serif;
}
.first_side {
    position: sticky;
    top: 3px;
    height: 100vh;
    padding: 6px 55px;
    width: 25%;
}
.f-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cnt {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    gap: 30px;
    /* display: inline-block; */
}
.nav {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 2px;
    padding: 8px 0;
    list-style: none;
}
/* .li-active{
    width: 100%;
    padding: 10px;
    transition: 0.6s;
    background-color: rgb(224, 224, 224);
    border: none;
    border-radius: 20px;
    box-shadow: 0px 15px 5px whitesmoke;
}
.li-active a{
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bold;
} */
.nav .li a {
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bold;
}
.nav .li {
    width: 100%;
    padding: 10px;
    transition: 0.6s;
}
.nav .li:hover {
    background-color: rgb(224, 224, 224);
    border: none;
    border-radius: 20px;
    box-shadow: 0px 15px 5px whitesmoke;
}
.tweet {
    width: 100%;
    text-decoration: none;
    color: white;
    background-color: rgb(78, 78, 255);
    padding: 10px 18px;
    border: none;
    margin-top: 7px;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
}
.tweet:hover {
    opacity: 0.8;
}
.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-cnt {
    display: flex;
    gap: 15px;
    align-items: center;
}
.text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
/* .profile h5{
    font-weight: bolder;
    cursor: pointer;
    font-size: xx-large;
    align-self: center;    
} */
.p-photo {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.tw-icon {
    width: 35px;
    height: 30px;
    margin-bottom: 30px;
    /* -webkit-box-reflect: below 1px linear-gradient(#b19f9f, transparent); */
}
.nav-icon {
    width: 40px;
    height: 20px;
}
.second_side {
    padding: 10px 0;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    width: 50%;
}
.s-container {
    padding: 20px 0;
}
.header-container {
    margin: 0 20px;
    margin-top: 10px;
    position: sticky;
    top: 6px;
    z-index: 1;
    box-shadow: 0px 5px 5px whitesmoke;
    background-color: white;
    border-radius: 20px;
}
.header {
    display: flex;
    justify-content: space-around;
    padding: 2% 5%;
}
.header a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.4s;
}
.header a:hover {
    opacity: 0.7;
}

.post-tweet {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    width: 100%;
    padding: 4% 2%;
    /* border-top: 1px solid whitesmoke; */
    border-bottom: 1px solid whitesmoke;
}
/* .{
   
} */
.inp {
    width: 200%;
    height: 10vh;
    border: none;
    outline: none;
    font-size: large;
    background: transparent;
}
*::placeholder {
    font-weight: bold;
    font-size: medium;
}
.send-tweet {
    position: relative;
    left: 190px;
    align-self: flex-end;
    width: 15%;
    color: white;
    background-color: rgb(78, 78, 255);
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    opacity: 0.8;
}
.lol {
    margin-left: 15px;
    cursor: pointer;
}

.view-tweet {
    padding: 2% 4%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: start;
    width: 100%;
    transition: 0.5ss;
    border-top: 1px solid whitesmoke;
}
.view-tweet:hover {
    background-color: rgb(231, 227, 227);
}
.prof {
    display: flex;
    gap: 12px;
    align-items: center;
}
.id {
    display: flex;
    position: relative;
    gap: 12px;
    align-items: center;
}
.menue {
    position: absolute;
    left: 550px;
    cursor: pointer;
}
.reactions {
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
    margin-top: 1%;
    padding: 6px 0;
    list-style: none;
    border-bottom: 1px solid whitesmoke;
}
.image-post {
    display: flex;
    justify-content: center;
    padding: 12px 0;
}
.img-upload {
    width: 100%; 
    height: auto;
    border-radius: 10px;
}
.l-react {
    cursor: pointer;
    width: 25px;
    height: 15px;
}

.third-container {
    width: 30%;
    padding: 3em;
}

.trending {
    background-color: whitesmoke;
    margin-top: 5%;
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
    text-align: start;
}
.trend {
    margin: 8% 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.trending .trending-cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.others {
    position: sticky;
    top: 8px;
    background-color: whitesmoke;
    border-radius: 15px;
    width: 100%;
    padding: 20px;
    text-align: start;
}
.follow {
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.follow-id {
    display: flex;
    align-items: center;
    gap: 10px;
}
.follow-btn {
    color: white;
    background-color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 30px;
    font-weight: bold;
}
.f-text {
    display: flex;
    flex-direction: column;
}
#logout {
    border-radius: 10px;
    position: absolute;
    bottom: 140px;
    width: 80%;
    z-index: 1;
    box-shadow: 0px 0px 10px 5px rgb(148, 144, 144);
}
.l-out {
    display: none;
    border-radius: 10px;
    position: absolute;
    bottom: 140px;
    width: 80%;
    z-index: 1;
    box-shadow: 0px 0px 10px 5px rgb(148, 144, 144);
}

.log-out {
    border-radius: 10px;
    width: 100%;
    padding: 13px 0;
    border: none;
    z-index: 1;
    background-color: white;
    font-weight: bolder;
}
.log-out:hover {
    background-color: whitesmoke;
}
.llo {
    padding: 12px;
    border-radius: 20px;
}
.llo:hover {
    background-color: whitesmoke;
}

.message-div {
    position: absolute;
    left: 45%;
    top: 3%;
    width: 50%;
    transform: translate(-50%, -50%);
    background-color: #1da1f2;
    color: white;
    padding: 15px;
    z-index: 999;
    text-align: center;
}

.write-comment {
    position: fixed;
    bottom: 0.1em;
    display: flex;
    gap: 4px;
    align-items: center;
}
.comment {
    resize: none;
    z-index: 999;
    font-size: medium;
    outline: none;
    padding: 0.2em;
    border-top: none;
    border-bottom: 2px solid #1da1f2;
    border-left: none;
    border-right: none;
}
.send {
    padding: 0.5em 2em;
    align-self: last baseline;
    background-color: #1da1f2;
    color: white;
    border: none;
    border-radius: 15px;
    outline: none;
}
.comments {
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.rep {
    display: flex;
    gap: 4px;
    align-items: center;
}
.com-bd {
    margin-top: 0.3em;
    display: flex;
    border-bottom: 1px solid whitesmoke;
    gap: 5px;
    padding: 0.2em 0.5em;
}
.details {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

:root {
    --bs-dark: #212529;
  }
  .theme-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }
  
  .theme-container:hover {
    opacity: 0.8;
  }
  body {
    background-color: var(--bs-dark);
    color: white;
  }
  
  .main_container {
    border-top: 0.5px solid whitesmoke;
    display: flex;
  }
  
  .first_side {
    position: sticky;
    top: 3px;
    height: 100vh;
    padding: 6px 25px;
    width: 20%;
    background-color: var(--bs-dark);
  }
  
  .f-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cnt {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    gap: 30px;
  }
  
  .nav {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 2px;
    padding: 8px 0;
    list-style: none;
  }
  
  .nav .li {
    text-decoration: none;
    color: white;
    font-size: larger;
    font-weight: bold;
    width: 80%;
    padding: 10px;
    transition: 0.6s;
    display: flex;
  }
  
  .nav .li:hover,
  .nav .li.active {
    background-color: rgb(224, 224, 224);
    border: none;
    border-radius: 20px;
    box-shadow: 0px 5px 5px whitesmoke;
  }
  
  .tweet {
    visibility: hidden;
  }
  
  .tweet-pc {
    width: 100%;
    text-decoration: none;
    color: white;
    background-color: #1da1f2;
    padding: 10px 18px;
    border: none;
    margin-top: 7px;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
  }
  
  .tweet-pc:hover {
    opacity: 0.8;
  }
  
  .profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .profile-cnt {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  
  .text {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .p-photo {
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }
  
  .nav-icon {
    width: 40px;
    height: 20px;
  }
  
  .tw-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
    padding: 5px;
  }
  
  .username {
    font-size: medium;
    font-weight: bold;
  }
  
  .username::first-letter {
    text-transform: uppercase;
  }
  
  #logout {
    border-radius: 10px;
    position: absolute;
    bottom: 120px;
    width: 80%;
    z-index: 1;
    box-shadow: 0px 0px 10px 5px rgb(148, 144, 144);
  }
  
  .l-out {
    display: none;
    border-radius: 10px;
    position: absolute;
    bottom: 120px;
    width: 80%;
    z-index: 1;
    box-shadow: 0px 0px 10px 5px rgb(148, 144, 144);
    background-color: var(--bs-dark);
    padding: 10px;
    }
    
    .l-out.active {
    display: flex;
    flex-direction: column;
    gap: 10px;
    }
    
    .l-out a {
    color: white;
    text-decoration: none;
    font-size: medium;
    }
    
    .l-out a:hover {
    text-decoration: underline;
    }
    
    .second_side {
    width: 80%;
    padding: 20px;
    background-color: var(--bs-dark);
    }
    
    .tweets-cnt {
    display: flex;
    flex-direction: column;
    gap: 20px;
    }
    
    .tweet-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--bs-dark);
    box-shadow: 0px 2px 5px whitesmoke;
    }
    
    .tweet-card .tweet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    .tweet-card .tweet-header .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    }
    
    .tweet-card .tweet-header .user-info .user-photo {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    }
    
    .tweet-card .tweet-header .user-info .user-name {
    font-size: medium;
    font-weight: bold;
    }
    
    .tweet-card .tweet-body {
    font-size: 14px;
    }
    
    .tweet-card .tweet-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: lightgray;
    }
    
    .tweet-card .tweet-footer .interaction {
    display: flex;
    align-items: center;
    gap: 10px;
    }
    
    .tweet-card .tweet-footer .interaction span {
    font-size: 12px;
    }
    
    .tweet-card .tweet-footer .action-buttons {
    display: flex;
    gap: 10px;
    }
    
    .tweet-card .tweet-footer .action-buttons button {
    border: none;
    background-color: transparent;
    color: lightgray;
    font-size: 12px;
    cursor: pointer;
    }
    
    .tweet-card .tweet-footer .action-buttons button:hover {
    text-decoration: underline;
    }
    
    .tweet-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--bs-dark);
    box-shadow: 0px 2px 5px whitesmoke;
    }
    
    .tweet-form textarea {
    height: 100px;
    resize: none;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: var(--bs-dark);
    color: white;
    }
    
    .tweet-form button {
    align-self: flex-end;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #1da1f2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    }
    
    .tweet-form button:hover {
    opacity: 0.8;
    }